include src/jovispec/jupiter_data/p06000.fits
include src/jovispec/jupiter_data/p06002.fits
include src/jovispec/jupiter_data/p06004.fits
include src/jovispec/jupiter_data/p06006.fits
include src/jovispec/jupiter_data/p06008.fits
include src/jovispec/jupiter_data/p06030.fits
include src/jovispec/jupiter_data/p06031.fits
include src/jovispec/jupiter_data/p06032.fits
include src/jovispec/jupiter_data/p06033.fits
include src/jovispec/jupiter_data/p06034.fits
include src/jovispec/jupiter_data/p06035.fits
include src/jovispec/jupiter_data/p06036.fits
include src/jovispec/jupiter_data/p06037.fits
include src/jovispec/jupiter_data/p06038.fits
include src/jovispec/jupiter_data/p06039.fits
include src/jovispec/jupiter_data/p06040.fits
include src/jovispec/jupiter_data/p06041.fits
include src/jovispec/jupiter_data/p06042.fits
include src/jovispec/jupiter_data/p06043.fits
include src/jovispec/jupiter_data/p06044.fits
include src/jovispec/jupiter_data/p06045.fits
include src/jovispec/jupiter_data/p06046.fits
include src/jovispec/jupiter_data/p06047.fits
include src/jovispec/jupiter_data/p06048.fits
include src/jovispec/jupiter_data/p06049.fits
include src/jovispec/jupiter_data/p06050.fits
include src/jovispec/jupiter_data/q06000.fits
include src/jovispec/jupiter_data/q06002.fits
include src/jovispec/jupiter_data/q06004.fits
include src/jovispec/jupiter_data/q06006.fits
include src/jovispec/jupiter_data/q06008.fits
include src/jovispec/jupiter_data/q06030.fits
include src/jovispec/jupiter_data/q06031.fits
include src/jovispec/jupiter_data/q06032.fits
include src/jovispec/jupiter_data/q06033.fits
include src/jovispec/jupiter_data/q06034.fits
include src/jovispec/jupiter_data/q06035.fits
include src/jovispec/jupiter_data/q06036.fits
include src/jovispec/jupiter_data/q06037.fits
include src/jovispec/jupiter_data/q06038.fits
include src/jovispec/jupiter_data/q06039.fits
include src/jovispec/jupiter_data/q06040.fits
include src/jovispec/jupiter_data/q06041.fits
include src/jovispec/jupiter_data/q06042.fits
include src/jovispec/jupiter_data/q06043.fits
include src/jovispec/jupiter_data/q06044.fits
include src/jovispec/jupiter_data/q06045.fits
include src/jovispec/jupiter_data/q06046.fits
include src/jovispec/jupiter_data/q06047.fits
include src/jovispec/jupiter_data/q06048.fits
include src/jovispec/jupiter_data/q06049.fits
include src/jovispec/jupiter_data/q06050.fits
include src/jovispec/jupiter_data/v06000.fits
include src/jovispec/jupiter_data/v06002.fits
include src/jovispec/jupiter_data/v06004.fits
include src/jovispec/jupiter_data/v06006.fits
include src/jovispec/jupiter_data/v06008.fits
include src/jovispec/jupiter_data/v06030.fits
include src/jovispec/jupiter_data/v06031.fits
include src/jovispec/jupiter_data/v06032.fits
include src/jovispec/jupiter_data/v06033.fits
include src/jovispec/jupiter_data/v06034.fits
include src/jovispec/jupiter_data/v06035.fits
include src/jovispec/jupiter_data/v06036.fits
include src/jovispec/jupiter_data/v06037.fits
include src/jovispec/jupiter_data/v06038.fits
include src/jovispec/jupiter_data/v06039.fits
include src/jovispec/jupiter_data/v06040.fits
include src/jovispec/jupiter_data/v06041.fits
include src/jovispec/jupiter_data/v06042.fits
include src/jovispec/jupiter_data/v06043.fits
include src/jovispec/jupiter_data/v06044.fits
include src/jovispec/jupiter_data/v06045.fits
include src/jovispec/jupiter_data/v06046.fits
include src/jovispec/jupiter_data/v06047.fits
include src/jovispec/jupiter_data/v06048.fits
include src/jovispec/jupiter_data/v06049.fits
include src/jovispec/jupiter_data/v06050.fits
include src/jovispec/jupiter_data/w06000.fits
include src/jovispec/jupiter_data/w06002.fits
include src/jovispec/jupiter_data/w06004.fits
include src/jovispec/jupiter_data/w06006.fits
include src/jovispec/jupiter_data/w06008.fits
include src/jovispec/jupiter_data/w06030.fits
include src/jovispec/jupiter_data/w06031.fits
include src/jovispec/jupiter_data/w06032.fits
include src/jovispec/jupiter_data/w06033.fits
include src/jovispec/jupiter_data/w06034.fits
include src/jovispec/jupiter_data/w06035.fits
include src/jovispec/jupiter_data/w06036.fits
include src/jovispec/jupiter_data/w06037.fits
include src/jovispec/jupiter_data/w06038.fits
include src/jovispec/jupiter_data/w06039.fits
include src/jovispec/jupiter_data/w06040.fits
include src/jovispec/jupiter_data/w06041.fits
include src/jovispec/jupiter_data/w06042.fits
include src/jovispec/jupiter_data/w06043.fits
include src/jovispec/jupiter_data/w06044.fits
include src/jovispec/jupiter_data/w06045.fits
include src/jovispec/jupiter_data/w06046.fits
include src/jovispec/jupiter_data/w06047.fits
include src/jovispec/jupiter_data/w06048.fits
include src/jovispec/jupiter_data/w06049.fits
include src/jovispec/jupiter_data/w06050.fits
